[tool.poetry]
name = "versup"
version = "0.3.3"
description = ""
authors = ["Sven Steinbauer <sven@unlogic.co.uk>"]
license = "MIT"
readme = "README.md"
repository = "https://gitlab.com/unlogic/versup"

[tool.poetry.dependencies]
python = "~2.7 "
gitpython = "~2"
click = "^7.1.1"
semver = "^2.9.1"
colorama = "^0.4.3"


[tool.poetry.dev-dependencies]
sphinx = "~1.8"
pytest = "~4"
sphinx_rtd_theme = "^0.4.3"
pytest-cov = "^2.8.1"


[tool.poetry.scripts]
versup = "versup.__main__:main"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

