[tool.poetry]
name = "versup"
version = "1.1.2"
description = "Version up your project with ease."
authors = ["Sven Steinbauer <sven@unlogic.co.uk>"]
license = "MIT"
readme = "README.md"
repository = "https://gitlab.com/unlogic/versup"

[tool.poetry.dependencies]
python = "^2.7 || ^3.6 || ^3.7"
gitpython = [
    {version = "^2.1", python = "^2.7"},
    {version = "^3.0", python = "^3"}
]
click = "^7.0"
semver = "^2.8"
colorama = "^0.4.3"

[tool.poetry.dev-dependencies]
pytest-cov = "^2.8"
pytest = "^3.0"
sphinx = [
    {version = ">= 1.8, < 2", python = "^2.7"},
    {version = "^3.0.0", python = "^3"}
]
sphinx_rtd_theme = "^0.4.3"
coveralls = [
    {version = "^1.11", python = "^2.7"},
    {version = "^2.0.0", python = "^3"}
]
black = [
    {version="^20.8b1", python = "^3"}
]
coverage = "^5.2.1"
mock = [
    {version="^3.0", python = "^2.7"}
]

[tool.poetry.scripts]
versup = "versup.__main__:main"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

